<div class="text-center">
  <form [formGroup]="registerForm" (ngSubmit)="enviar()">
    <h2>Registrarse:</h2>
    <div>
      <div class="mb-3 d-flex">
        <label class="p-2">Nombre:</label>
        <input type="text" formControlName="nombre" class="form-control" />
      </div>
      <p *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid" class="text-danger">
        El nombre es obligatorio
      </p>
    </div>

    <div>
      <div class="mb-3 d-flex">
        <label class="p-2">Apellidos:</label>
        <input type="text" formControlName="apellidos" class="form-control" />
      </div>
      <p *ngIf="registerForm.get('apellido')?.touched && registerForm.get('apellido')?.invalid" class="text-danger">
        Los Apellidos son obligatorios
      </p>
    </div>

    <div class="mt-3">
      <div class="mb-3 d-flex">
        <label class="p-2">Contraseña:</label><input type="password" formControlName="contrasenna"
          class="form-control" />
      </div>
      <div *ngIf="registerForm.get('contrasenna')?.touched && registerForm.get('contrasenna')?.invalid"
        class="text-danger">
        La contraseña es obligatoria
      </div>
    </div>

    <div>
      <div class="mb-3 d-flex">
        <label class="p-2">correo:</label>
        <input type="email" formControlName="gmail" class="form-control" />
      </div>
      <p *ngIf="registerForm.get('gmail')?.touched && registerForm.get('gmail')?.invalid" class="text-danger">
        El correo electrónico es obligatorio
      </p>
    </div>

    <button type="submit" class="btn btn-success mt-3" [disabled]="registerForm.invalid">
      Registrarse
    </button>
  </form>
</div>
